version: "3"
services:
  db:
    image: mongo
    environment:
      - MONGODB_DBNAME=dig
    volumes:
      - ./data:/data/db
    ports:
      - "27017:27017"
  app:
    container_name: dig_api
    volumes:
      - ./:/usr/src/app
      - /usr/src/app/node_modules
    build: .
    command: yarn run dev
    ports:
      - "3333:3333"
    links:
      - db
    depends_on:
      - db
